<%= render_breadcrumbs %> <br><br>

<h1>All Users</h1>
<% @users.each do |user| %>

	<tr>
	  <td><%= user.email %></td>
	  <td><%= link_to 'Edit', edit_member_path(user) %></td>
	  <td><%= link_to 'Destroy', member_path(user),
	          method: :delete,
	          data: { confirm: 'Are you sure?' } %></td>
	</tr>

<% end %>